body {
  height: 100%;
  margin: 0;
  width: 100;
}

.personal {
  font-family: Georgia, serif;
  font-size: 18px;
  color: black;
  text-align: center;
}

.education {
  font-family: Georgia, serif;
  font-size: 12px;
  color: black;
}
