.intro {
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}

table {
  width: 100%;
}

th {
  height: 200px;
}
