body {
  height: 100%;
  margin: 100px;
  width: 100;
}

.personal {
  font-family: Georgia, serif;
  font-size: 18px;
  color: black;
  text-align: center;
}

.headers {
   font-family: Georgia, serif;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}

.headersinfo {
  font-family: Georgia, serif;
  font-size: 12px;
  color: black;
}
